<div id="about" class="container-fluid white-bg">
    <div class="row p-a-md">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="p-a-md white-bg">
                <h1 class="fw800 display-4 m-b-0">Made Good Feels Good</h1>
                <div class="divider dark"></div>
                <p class="lead">Every company needs a reason to be in your life. Here's ours.</p>
                <p>Supply are a group of makers and belivers commited to fairness, quality, value and change.</br>
                We’ve found a way to do things so everyone gets what they need and no one gets burned - not our suppliers, our customers..or the planet.</br>
                At the heart of it is a simple belief that if something's made good it feels good too.</p>
                <p>Our journey has been to turn this idea into something real. And now we have we want your to join us. Why? Because you were always partof the story. Together we make change.</p>
                <p>Read about supply <a href="/pages/about-us">here</a></p>
                <p>Tell us how the future will be.</p>
            </div>
        </div>
    </div>
</div>

<script>
    // $( document ).ready(function() {
    //     $("#about").backstretch([
    //          "https://cdn.shopify.com/s/files/1/1073/8830/files/about-full.jpg?10142095831447838384",
    //      ], {duration: 5000, fade: 750});
    //  })
 </script>
