<!-- /snippets/comment.liquid -->


<div class="cart-loader" style="display:none">
    <img class="img-circle" src="https://cdn.shopify.com/s/files/1/0792/8597/files/supplyHand.gif?8565817555322164549"/>
</div>
