<!-- Modal -->
<div class="modal fade" id="ColourModal" tabindex="-1" role="dialog" aria-labelledby="colorLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body dark-bg">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="container-fluid">
              <div class="row">
                  <div id="select" class="col-xs-12">
                      <h1 class="fw800 m-b-0 tight">Select Colour</h1>
                      <div class="divider"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
