<div id="cotton" class="container-fluid white-bg">
    <div class="row p-a-md">
        <div class="col-xs-12 col-md-6">
            <div class="p-a-md white-bg">
                <h1 class="fw800 display-4 m-b-0">John Spencer</h1>
                <div class="divider dark"></div>
                <p class="lead">John Spencer weave a wide range of fabrics servicing many diverse market sectors. Applications for our fabrics include curtains and upholstery, protective clothing, fashion and apparel, shirting, coatings and laminating, belting and filtration.</p>
                <p>Fabrics are made to customers specifications and can be supplied in widths up to 218cm as either loomstate or finished. Fibres woven include cotton, linen, polyester, wool, viscose, nylon, acrylic, modacrylic, aramid and metamid and many others.</p>
                <p>A modern warping and weaving operation with dobby rapier machines allows efficient production of fancy weaves and coloured stripe and check designs. A commission weaving service is available to customers wanting their own yarns to be woven. New jacquard machinery machinery was installed in the summer of 2015 to further increase the company's range of capabilities.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $("#cotton").backstretch([
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xta1/t51.2885-15/e35/11353028_1497403067217791_1367182061_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/10723885_1103646136330554_2031867020_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xpa1/l/t51.2885-15/e35/10643867_667664829999656_1621048198_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xat1/t51.2885-15/e35/10535155_134388223562453_647278772_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/11348227_866845266718680_2034217954_n.jpg"
         ], {duration: 5000, fade: 750});
     })
 </script>
