<!-- Modal -->
<div class="modal" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="infoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{product.title}}</h4>
      </div>
      <div class="modal-body dark-bg">
          <div class="row">
              <div class="col-xs-12">
                  <span itemprop="description">{{product.description}}</span>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
