<div class="container-fluid white-bg">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="p-a-lg">
                <h1 class="fw800 display-4 m-b-0">WrightBower</h1>
                <div class="divider dark"></div>
                <p class="lead">Over almost a century and a half, Brooks England has grown from a small workshop to a byword in quality craftsmanship. Back in 1865, John Boultbee Brooks left his hometown of Hinckley in Leicestershire with just £20 in his pocket.</p>
                <p>He headed for Birmingham, where in 1866 he established a business in horse harnesses and general leather goods in Great Charles Street under the name JB Brooks & Co. In 1878, the unfortunate death of Mr Brooks’ horse led to a stroke of inspiration. Unable to afford another horse, he borrowed a bicycle in order to commute to work. He found the seat so uncomfortable that he vowed to do something about it.</p>
                <p>On 28 October 1882, Mr Brooks filed his first saddle patent. Waddling cyclists everywhere rejoiced and the new product was a roaring success.</p>
            </div>
        </div>
        <div id="leather" class="col-xs-12 col-md-6">
            <!-- Blah 2 -->
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $("#leather").backstretch([
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/10724585_794867853954481_922352752_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/11265141_1464733240514239_1066630383_n.jpg",
             "https://scontent-frt3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/10725181_1442423412750073_436408611_n.jpg"
         ], {duration: 5000, fade: 750});
     })
 </script>
