<section class="white-bg p-y-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="display-4 fw800 m-b-0">Let's do social</h1>
                <div class="divider dark"></div>
                <p>We are one half of the Supply story. The other is you. Talk to us. Not just about what we do and how we can do beDer but about what matters to you and your tribe. What’s your news? What do you think about the things that shape our lives?
                    Tell us how the future will be.</p>
                <p>Here's something to think on.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <article id="mail" class="circle">
                    <h3>Join the Supply mailing list</h3>
                </article>
                <article class="circle">
                    <p class="vAlign">Learn more about the world's best materials and craftspeople</p>
                </article>
                <article class="circle">
                    <p class="vAlign">Find out about new products we produce them.</p>
                </article>
                <article class="circle">
                    <p class="vAlign">Yes, maybe get a discount every so often</p>
                </article>

            </div>
        </div>
    </div>
</section>
