<div class="container h100">
    <div class="row h100">
        <div class="col-xs-12 col-sm-6 p-y-lg">
            <h1 class="display-4 fw800 m-b-0">Let's do social</h1>
            <div class="divider dark"></div>
            <p>We are one half of the Supply story. The other is you. Talk to us. Not just about what we do and how we can do beDer but about what matters to you and your tribe. What’s your news? What do you think about the things that shape our lives?
                Tell us how the future will be.</p>
            <p>Here's something to think on.</p>
        </div>
        <div class="col-xs-12 col-sm-6 h100">
            <section id="social-area" class="test-area">
                <article id="mail" class="circle large">
                    <div class="vAlign">
                        <h3>Join the Supply mailing list</h3>
                    </div>
                </article>
                <article class="circle small">
                    <p class="vAlign">Learn more about the world's best materials and craftspeople</p>
                </article>
                <article class="circle small">
                    <p class="vAlign">Find out about new products we produce them.</p>
                </article>
                <article class="circle small">
                    <p class="vAlign">Yes, maybe get a discount every so often</p>
                </article>
            </section>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {


    var width = $('#social-area').width();
    var $body = $('body');

    var balls = ui.select('.small');
    balls.each(function(ball) {
        console.log(ball)
      ball.set({
        values: {
          originX: 0,
          originY: 0,
          x: 0,
        }
      })
    })

    var trackBall = new ui.Track({
      values: {
        x: {},
        y: {}
      }
    });

    var springBack = new ui.Simulate({
      simulate: 'spring',
      spring: 500,
      friction: 0.2,
      values: {
        x: {
          to: 200
        },
        y: {
          to: 200
        }
      }
    });

    $body.on('mousedown touchstart', '.small', function(event) {
      event.stopPropagation();
      event.preventDefault();

      activeBall = ui.select(this);
      activeBall.start(trackBall.extend({
        smooth: 30
      }), event);

      $body.on('mouseup touchend', function(event) {
        event.stopPropagation();
        event.preventDefault();
        activeBall.start(springBack);
      });
    });


})

</script>
