<section class="dark-bg">
    <div class="container pvh">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0792/8597/files/Balls.png?16726515962362088791"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="text-center">
                    <h1 class="mbl">John Spencer</h1>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p class="lead">John Spencer weave a wide range of fabrics servicing many diverse market sectors. Applications for our fabrics include curtains and upholstery, protective clothing, fashion and apparel, shirting, coatings and laminating, belting and filtration.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>Fabrics are made to customers specifications and can be supplied in widths up to 218cm as either loomstate or finished. Fibres woven include cotton, linen, polyester, wool, viscose, nylon, acrylic, modacrylic, aramid and metamid and many others.</p>
                        <p>A modern warping and weaving operation with dobby rapier machines allows efficient production of fancy weaves and coloured stripe and check designs. A commission weaving service is available to customers wanting their own yarns to be woven. New jacquard machinery machinery was installed in the summer of 2015 to further increase the company's range of capabilities.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
