<div id="video">
    <div class="video-wrap">
        <video poster="https://cdn.shopify.com/s/files/1/1073/8830/files/poster.jpg?16596465149826440614">
            <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.mp4?10105095783517067955" type="video/mp4">
            <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.webmhd.webm?10105095783517067955" type="video/webm">
            <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.oggtheora.ogv?10105095783517067955" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}


{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid">
    <!-- .grid-sizer & .gutter-sizer empty elements
   only used for element sizing -->
 <div class="grid-sizer"></div>
 <div class="gutter-sizer"></div>
 <div class="grid-item"></div>
 <div class="grid-item grid-item--width2"></div>

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.frontpage.products limit:50 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'grid-item' %}
    {% include 'product-grid-item' %}

  {% endfor %}
</div>

<script>
//Hide Video if cookie present
if (document.cookie.split(";").indexOf(' seenVideo=1') !== -1){
     document.getElementById('video').style.display = 'none';
};

$(document).ready(function() {

  //video
  var isPlaying = false;
  var video = $("video");

  video.on('click', function() {
    if (isPlaying) {
      $(this)[0].pause()
      isPlaying = false;
    } else {
      $(this)[0].play()
      isPlaying = true;
    }
  });

  //
  $("#video").on('click', function(e) {
    if ($(e.target).is('#video')) {
      $(this).addClass('transitionOffScreen')
      video[0].pause()
      createCookie('seenVideo', 1, 7);
    }
  })

    $(window).scroll(function() {
      if ($(this).scrollTop() > 1) {
        $('#video').addClass('transitionOffScreen')
        video[0].pause()
      }
    });


  // init Packery
  var $grid = $('.grid').packery({
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    itemSelector: '.grid-item',
    percentPosition: true,
    containerStyle: {
      padding: '10px'
    }
  });
  // layout Packery after each image loads
  $grid.imagesLoaded(function() {
    $grid.packery();
    $('.grid').addClass('loaded');
  });

  function createCookie(name, value, days) {
    var date, expires;
    if (days) {
        date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        expires = "; expires="+date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = name+"="+value+expires+"; path=/";
}


})
</script>
