<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 p-x-0">
            <img src="https://cdn.shopify.com/s/files/1/1073/8830/files/about-full.jpg?10142095831447838384">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="about-header" class="col-xs-12 col-md-8">
                <div class="hidden-xs-down">
                    <h1 class="display-4 m-b-0 fw800 text-white tight">{{ page.title }}</h1>
                    <div class="divider light"></div>
                </div>
                <div class="hidden-sm-up">
                    <h1 class="display-4 m-b-0 fw800 tight">{{ page.title }}</h1>
                    <div class="divider dark"></div>
                </div>
                    <div class="card">
                        <div class="card-block"> {{ page.content }} </div>
                    </div>
            </div>

            <div class="col-xs-12 col-md-4 m-t-md">

                <div class="card">
                    <img class="card-img-top" src="http://www.hialpesa.com/images/01.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Suppliers</h4>
                        <p class="card-text">When you buy Supply our promise is that everything is responsible and sustainable. Whether it’s hi-tech producers with leading edge technologies or artisan craftsmen working in a tried and tested tradition, our partners are committed
                            to fairness, responsibility, sustainability and progressive business practice. It’s what makes them the right us and, we hope, for you too.</p>
                    </div>
                </div>

            </div>
            <div class="col-xs-12">
                <h1 class="display-4 m-b-0 fw800">Our People</h1>
                <div class="divider dark"></div>

                <div class="card-columns">

                    <div class="card">
                        <img class="card-img-top" src="http://www.hialpesa.com/images/01.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Hialpesa <small>Peru</small></h4>
                            <p class="card-text">Hialpesa was established in 1979, specialized in manufacturing Peruvian Cotton as well as knit fabric and garments. Organic cotton is grown, picked and ginned according to organic standards which prohibits the use of pesticides and protects the soil and farmers.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about Hialpesa
                                    <cite title="Source Title"><a href="http://www.hialpesa.com/" target="_blank">hialpesa.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://scontent-frt3-1.cdninstagram.com/hphotos-xta1/t51.2885-15/e35/11353028_1497403067217791_1367182061_n.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">John Spencer <small>Lancashire UK</small></h4>
                            <p class="card-text">John Spencer started weaving in Burnley in the 1860’s in the now historic Weavers Triangle. 150 years and six generations later, the company is still run by his great, great, great grandson. John Spencer were also the first UK cotton weaving mill to be awarded Soil Association and Global Organic Textile Standard accreditation.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about John Spencer
                                    <cite title="Source Title"><a href="http://www.johnspencer.com/" target="_blank">johnspencer.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://scontent-frt3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/10724585_794867853954481_922352752_n.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">WrightBower <small>Manchester UK</small></h4>
                            <p class="card-text">WrightBower is a truly British made leather goods brand. Established since 1976 they celebrate innovation, craftsmanship and industry. Operating out of a factory located close to the centre of Manchester.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about WrightBower
                                    <cite title="Source Title"><a href="http://www.wrightbower.com/" target="_blank">wrightbower.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1073/8830/files/TARNSJO.jpg?5735926348276656970" alt="Tarnsjö">
                        <div class="card-block">
                            <h4 class="card-title">Tarnsjö <small>Sweden</small></h4>
                            <p class="card-text">Tärnsjö is among the remaining 5% of tanning houses worldwide who still employ the tradition of vegetable tanning in favor of the more time and cost-efficient chrome excel method. We have chosen to respect the environment with our business practices using bark extracts, water and water-based finishing. The fact that the resulting aesthetic is of unparalleled quality and beauty is a welcome and much cultivated benefit.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about Tarnsjö
                                    <cite title="Source Title"><a href="http://tarnsjogarveri.com/" target="_blank">tarnsjogarveri.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1073/8830/files/masure-histoire-00-a.jpg?11591308557218795710" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Tannery Masure <small>Belguim</small></h4>
                            <p class="card-text">As a family business for over 140 years that has always remained receptive to new trends, Tannery Masure pay's particular attention to those brands that wish to bring together historic expertise and fine materials. At each stage of production, Tannery Masure's qualified artisans bring together technique and expertise to enhance the leather’s nobility of character while preserving its natural look. As specialists in the vegetable tanning of cow leathers selected from the best sources in Europe, Tannery Masure guarantee's an exemplary leather quality adapted to the selection and finishing criteria of each of client.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about John Spencer
                                    <cite title="Source Title"><a href="http://www.johnspencer.com/" target="_blank">johnspencer.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">XXX <small>Tuscany</small></h4>
                            <p class="card-text">John Spencer started weaving in Burnley in the 1860’s in the now historic Weavers Triangle. 150 years and six generations later, the company is still run by his great, great, great grandson. John Spencer were also the first UK cotton weaving mill to be awarded Soil Association and Global Organic Textile Standard accreditation.</p>
                            <footer>
                                <small class="text-muted">
                                    Read more about John Spencer
                                    <cite title="Source Title"><a href="http://www.johnspencer.com/" target="_blank">johnspencer.com</a></cite>
                                </small>
                            </footer>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'social' %}
