<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 p-x-0">
            <video class="play-button-hover" poster="https://cdn.shopify.com/s/files/1/1073/8830/files/poster.jpg?16596465149826440614" style="width:100%; height:auto;">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.mp4?10105095783517067955" type="video/mp4">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.webmhd.webm?10105095783517067955" type="video/webm">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.oggtheora.ogv?10105095783517067955" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="about-header" class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <h2>{{ page.title }}</h2>
                        <div class="two-column-to-one">
                        {{ page.content }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 m-t-md">

                <div class="card">
                    <img class="card-img-top" src="http://www.hialpesa.com/images/01.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Suppliers</h4>
                        <p class="card-text">When you buy Supply our promise is that everything is responsible and sustainable. Whether it’s hi-tech producers with leading edge technologies or artisan craftsmen working in a tried and tested tradition, our partners are committed
                            to fairness, responsibility, sustainability and progressive business practice. It’s what makes them the right us and, we hope, for you too.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% include 'social' %}
