<img src="https://cdn.shopify.com/s/files/1/1073/8830/files/about.jpg?707166860072006312">

<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}
<section class="container">
    <div class="row">

        <h1 class="text-center display-1 m-y">{{ page.title }}</h1>

         {{ page.content }}
    </div>
</div>
