<!-- /templates/page.liquid -->
<div class="container page-top-padding">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1 class="fw800 display-4 m-b-0">{{ page.title }}</h1>
            <div class="divider dark"></div>
            <div class="rte">
                {{ page.content }}
            </div>
         </div>
     </div>
</div>
